<!DOCTYPE html>
<html>
<head>
    <title>Gobinda Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div class = "header pb-2 " id = "Firstheader" >
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class = "container-fluid text-uppercase">
            <a class="navbar-brand font-weight-bold text-white" href="/">Derik</a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon ">
                <span class="navbar-toggler-icon ">
                  <span class="navbar-toggler-icon ">
                </span>
              </span>
              </span>
              
            </button>
            <div class="collapse navbar-collapse nav-ul" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto ">
                <li class="nav-item active">
                  <a class="nav-link  current" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/service">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/price">price</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blogs</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="C:\Users\Gobinda\Desktop\InternshipExposys\contact.html">Contact</a>
                </li>
              </ul> 
              <form class="form-inline my-2 my-lg-0 pl-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn media my-2 my-sm-0" type="submit">Search</button>
              </form>
              </div>
            </div>
          </nav>
        <!-------------header---------------->
        <section class = "header-section">
            <div class ="center-div">
                <h1 class = "font-weight-bold">We are the developers</h1>
                <p>Who creates awesome Website</p>
                <div >
                    <a class="btn btn2" href="/price">Getting started</a>

                </div>


            </div>

        </section>
    </div>
    </div>
  <!--header part end-->
  <section class="three-div"  data-aos="fade-up">
   <div class="container-fluid">
     <div class="row">
       <div class="extra-div col-lg-4 col-md-4 col-12">
           <a herf="#"><i class="fa fa-desktop fa-2x" aria-hidden="true"></i></a>
           <h2> EASY TO USE</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
             dolore magna aliqua.</p>

       </div>
       <div class="extra-div col-lg-4 col-md-4 col-12" >
        <a herf="#"><i class="fa fa-rocket fa-2x" aria-hidden="true"></i></a>
        <h2>PRODUCT DESIGN</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
          dolore magna aliqua.</p>

    </div>
    <div class="extra-div col-lg-4 col-md-4 col-12" >
      <a herf="#"><i class="fa fa-magic fa-2x" aria-hidden="true"></i></a>
      <h2> EASY TO CUSTOMIZE</h2>
      <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
        dolore magna aliqua. </p>
  </div>
     </div>
   </div>
  </section>
  <!---three div ends -->
  <!--offer section-->
  <section class="serviceoffer" id = "service">
      <div class="container headings test-center">
        <h1 class ="text-center font-weight-bold">WHAT DO WE OFFER</h1>
        <P class="text-center">Lorem ipsum dolor sit amet,consectetur adipiscing elit.</P>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-10 offset-1 offset-lg-0">
            <div class="name my-3">
              <h1>html</h1>
              <div class="progress w-75">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">100%</div>
            </div>
            </div>
            <div class="name my-3">
              <h1>CSS</h1>
              <div class="progress w-75">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:90%">90%</div>
            </div>
            </div>
            <div class="name my-3">
              <h1>JAVASCRIPT</h1>
              <div class="progress w-75">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width:70%">70%</div>
            </div>
            </div>
            <div class="name my-3">
              <h1>ANGULAR</h1>
              <div class="progress w-75">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width:75%">75%</div>
            </div>
            </div>
            <div class="name my-3">
              <h1>FLASK</h1>
              <div class="progress w-75">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width:80%">80%</div>
            </div>
            </div>
          </div>
          <!--col-lg-6 for PCs | col-md-12 for tablets | col-12 for mobiles-->
          <div class="col-lg-6 col-md-12 col-12 servicediv">
            <div class="row">
              <div class ="col-lg-2 col-2 service-icons">
                <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col-lg-10 col-10">
                <h2>Website development</h2>
                <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="row">
              <div class ="col-lg-2 col-2 service-icons">
                <i class="fa fa-android fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col-lg-10 col-10">
                <h2>App development</h2>
                <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="row">
              <div class ="col-lg-2 col-2 service-icons">
                <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col-lg-10 col-10">
                <h2>Support 24/7</h2>
                <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
      <!--end offer-->

      <!--numbers popup is created-->
      
      <section class="project-work">
        <div class="container-fluid headings test-center">
          <h1 class ="text-center font-weight-bold">MORE THAN 2,000 WEBSITE CREATED</h1>
          <P class="text-center">Lorem ipsum dolor sit amet,consectetur adipiscing elit.</P>
        </div>
        <div class="container d-flex justify-content-around align-items-center text-center">
          <div>
            <h1 class="count"> 1500 </h1>
            <p>CMS installation</p>
          </div>
          <div>
            <h1 class="count">2500</h1>
            <p>Awards Won</p>
          </div>
          <div>
            <h1 class="count">700</h1>
            <p>Happy clients</p>
          </div>
          <div>
            <h1 class="count">500</h1>
            <p>Working On</p>
          </div>
        </div>
        </section>
        <!--customer feedback--> 
       <section class="happyclients">
         <!--<div class="container font-weight-bold text-center">-->
           <h1 class="text-center font-weight-bold ">OUR HAPPY CLIENTS</h1>
           <p class="text-center">Our satisfied Coustomers Say</p>
         </div>
         </section>
         <section class="">
         <div id="demo" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul class=" carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
        
          <!-- The slideshow -->
          <div class=" carousel-inner ">
            <div class="carousel-item active">
              <div class="row">
                <div class= "col-lg-4 col-md-4 col-12">
                  <div class="box">
                    <a href="#"><img src="/static/images/client2.jpg" class="img-fluidi img-thumbnail"></a>
                    <p class="m-4">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.</p>
                    <h1>Nicolas</h1>
                    <h2>Web developer</h2>  
                  </div>
                </div>
                <div class= "col-lg-4 col-md-4 col-12">
                  <div class="box">
                    <a href="#"><img src="/static/images/client3.jpg" class="img-fluidi img-thumbnail"></a>
                    <p class="m-4">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.</p>
                    <h1>Hiliya</h1>
                    <h2>Web developer</h2>  
                  </div>
                </div>
                 <div class= "col-lg-4 col-md-4 col-12">
                  <div class="box">
                    <a href="#"><img src="/static/images/client5.jpg" class="img-fluidi img-thumbnail"></a>
                    <p class="m-4">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.</p>
                    <h1>Noah</h1>
                    <h2>Web developer</h2>  
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class= "col-lg-4 col-md-4 col-12">
                  <div class="box">
                    <a href="#"><img src="/static/images/client7.jpg" class="img-fluidi img-thumbnail"></a>
                    <p class="m-4">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.</p>
                    <h1>Alisa</h1>
                    <h2>QA engineer</h2>  
                  </div>
                </div>
                <div class= "col-lg-4 col-md-4 col-12">
                  <div class="box">
                    <a href="#"><img src="/static/images/client6.jpg" class="img-fluidi img-thumbnail"></a>
                    <p class="m-4">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.</p>
                    <h1>Jhon</h1>
                    <h2>Web developer</h2>  
                  </div>
                </div>
                 <div class= "col-lg-4 col-md-4 col-12">
                  <div class="box">
                    <a href="#"><img src="/static/images/header-bg.jpg" class="img-fluidi img-thumbnail"></a>
                    <p class="m-4">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.</p>
                    <h1>George</h1>
                    <h2>Web developer</h2>  
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class= "col-lg-4 col-md-4 col-12">
                  <div class="box">
                    <a href="#"><img src="/static/images/client.jpg" class="img-fluidi img-thumbnail"></a>
                    <p class="setcolor m-4">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.</p>
                    <h1>Pius</h1>
                    <h2>Web developer</h2>  
                  </div>
                </div>
                <div class= "col-lg-4 col-md-4 col-12">
                  <div class="box">
                    <a href="#"><img src="/static/images/header-bg.jpg" class="img-fluidi img-thumbnail"></a>
                    <p class="m-4">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.</p>
                    <h1>Harry</h1>
                    <h2>software developer</h2>  
                  </div>
                </div>
                 <div class= "col-lg-4 col-md-4 col-12">
                  <div class="box">
                    <a href="#"><img src="/static/images/client3.jpg" class="img-fluidi img-thumbnail"></a>
                    <p class="m-4">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                      dolore magna aliqua.</p>
                    <h1>Alina</h1>
                    <h2>Font-end developer</h2>  
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Left and right controls -->
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a> 
          </div>
          </section>
          <!--client section ends here-->
         <!---footer start-->
         <!--<section class="three-div footerlinks">
          <div class="container-fluid links">
            <div class="row">
              <div class=" col-lg-4 col-md-4 col-12">
                <div class="contact-icon">
                  <i class="fa fa-facebook-f"></i>
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-instagram"></i>
                  <i class="fa fa-github"></i>
                </div>
       
              </div>
              <div class=" col-lg-4 col-md-4 col-12">
                <h2 class="talk text-center">Let's Talk?</h2>
                </div>
           <div class=" col-lg-4 col-md-4 col-12">
            <div class="talk">
              <a href="#" class="btn btn-dark">Make an enquiry!</a>
          </div>
         </div>
            </div>
          </div>
         </section>-->
         <section class="newsletter"  id="newsletterid">
           <div class="container headings text-center">
             <h1 class="text-center font-weight-bold">Subscribe to our daily news</h1>
             </div>
           <div class="container">
             <div class="row">
               <div class="col-lg-8 offset-lg-2 col-12">
                <div class="input-group mb-3">
                  <input type="text" class="form-control news-letter" placeholder="Your Email">
                  <div class="input-group-append">
                    <span class="input-group-text btn" style="cursor: pointer;">Subscribe</span>
                  </div>
                </div>
           </div>
           </div>
              </div>
        
         </section>
         <footer>
         <section class="contact-footer" >
          <div class="container">
            <div class="contact">
              <!-- icons -->
              <div class="contact-icon">
                <i class="fa fa-facebook-f fa-2x"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-github"></i>
             
              </div>
              <!-- text -->
              <h2>Let's Talk?</h2>
            
              <!-- button -->
              <a href="/contact" class="btn btn2 ">Make an enquiry!</a>
              </div>
            </div>
          </div>
          <div class="scrolltop float-right">
            <i class ="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>
          </div>
        </section>
          <div class="container-fluid text-center copyright">
            <p>2021 &copy; TechNstuff. All Rights Reserved</p>
          </div>
        </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha512-5WvZa4N7Jq3TVNCp4rjcBMlc6pT3lZ7gVxjtI6IkKW+uItSa+rFgtFljvZnCxQGj8SUX5DHraKE6Mn/4smK1Cg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
   
    <script>
      $('.count').counterUp({
        delay:10,
        time:3000
       
    })
    mybutton = document.getElementById("myBtn");
    window.onscroll = function() {
      scrollFunction();
    }
    function scrollFunction(){
      if(document.body.scrollTop > 300 || document.documentElement.scrollTop > 300){
        mybutton.style.display = "block";
      }else{
        mybutton.style.display = "none";
      }
    }
    function topFunction(){
      document.body.scrollTop=0;//for safari
      document.documentElement.scrollTop = 0;//For chrome
    }  
    AOS.init({
  duration: 1000,
   });
    </script>
  
  
  
  </body>
</html>